canvas {
    border: 5px solid #909090;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.juego{
    margin-top: 30px;
}
#buttons {
    /*padding: 10px;*/
    margin-top: 10px;
    display:flex;
    justify-content:center;
    gap: 50px;
    /*border-radius: 10px;*/
}
#buttons>input {
    border:0px;
    padding:5px 20px;
    background-color:#a7cf5f;
    border:1px solid #70863e;
    border-radius: 10px;
    color:#59772f;
}
#buttons>input:disabled {
    background-color: #b3b3b3;
    color:#686868;
}
.game-over {
    position: absolute;
    top: 0%;
    left: 12%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* transform: translate(-50%, -50%); */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(224, 71, 32);
    z-index: 1;
    box-sizing: border-box;
}
.game-over_restart {
    position: absolute;
    top: 74%;
    left: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    /* transform: translate(-50%, -50%); */
    font-size: 2rem;
    font-weight: bold;
    color: rgb(224, 71, 32);
    z-index: 1;
    box-sizing: border-box;
}

.puntuaciones {
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.tabla_puntuaciones{
    border: 10px solid #033b3b;
    position: relative;
    background-color: rgb(10, 10, 45);
    display: table;
    width: 300px;
    height: 300px;
    /* centrar horizontalmente */
    margin: 0 auto;
    /* centrar verticalmente */
    align-items: center;
    border-radius: 10px;
}
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,700";
 .rwd-table {
	 margin: 0.2em 0;
     margin-top: 30px;
	 min-width: 300px;
     display: inline-table;
}
 .rwd-table tr {
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #ddd;
}
 .rwd-table th {
	 display: none;
}
 .rwd-table td {
	 display: block;
}
 .rwd-table td:first-child {
	 padding-top: 0.5em;
}
 .rwd-table td:last-child {
	 padding-bottom: 0.5em;
}
 .rwd-table td:before {
	 content: attr(data-th) ": ";
	 font-weight: bold;
	 width: 6.5em;
	 display: inline-block;
}
 @media (min-width: 480px) {
	 .rwd-table td:before {
		 display: none;
	}
}
 .rwd-table th, .rwd-table td {
	 text-align: center;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 display: table-cell;
		 padding: 0.25em 0.5em;
	}
	 .rwd-table th:first-child, .rwd-table td:first-child {
		 padding-left: 0;
	}
	 .rwd-table th:last-child, .rwd-table td:last-child {
		 padding-right: 0;
	}
}
 .rwd-table {
	 background: #34495e;
	 color: #fff;
	 border-radius: 0.4em;
	 overflow: hidden;
}
 .rwd-table tr {
	 border-color: #46637f;
}
 .rwd-table th, .rwd-table td {
	 margin: 0.5em 1em;
}
 @media (min-width: 480px) {
	 .rwd-table th, .rwd-table td {
		 padding: 0.2em !important;
	}
}
 .rwd-table th, .rwd-table td:before {
	 color: #dd5;
}