.background-container {
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  height: calc(315px * 1.3);
  width: calc(560px * 1.3);
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  animation: ani 8s linear infinite;
  z-index: 0;
  border-radius: 35px;
  backdrop-filter: blur(20px);
}
@keyframes ani {
  0% {background-position: 0%;}
  100% {background-position: 400%;}
}

/*//////////////  YOUTUBE //////////////////////////////////////////////////////////////////////////////////*/

.youtube_1 {
  /*margin-top: calc(((315 * 1.3)-315)/2)px;*/
  margin-top: 47.25px;
  position: relative;
  text-align: center;
  border-radius: 30px;
  cursor: pointer;
  z-index: 1;
  /*backdrop-filter: blur(20px);*/
  filter: blur(0);
  /*filter: blur(20px);*/
}

.scene {
  width: 10em;
  align-items: center;
  display: flex;
  margin: 5px;
}
 
 .cube {
  color: #ccc;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  width: 10em;
  height: 4em;
 }
 
 .cube:hover {
  transform: rotateX(-90deg);
 }
 
 .side {
  box-sizing: border-box;
  position: absolute;
  display: inline-block;
  height: 4em;
  width: 10em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 1.5em;
  font-weight: bold;
 }
 
 .top {
  /*background: linear-gradient(-45deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);*/
  background: linear-gradient(-45deg,#03a9f4,#ffeb3b,#f441a5,#03a9f4);
  color: #222229;
  transform: rotateX(90deg) translate3d(0, 0, 2em);
  box-shadow: inset 0 0 0 5px #000000;
 }
 
 .front {
  background: linear-gradient(45deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  color: #222229;
  box-shadow: inset 0 0 0 5px #000000;
  transform: translate3d(0, 0, 2em);
 }
 .bloque_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}